h1 {
    font-size: 400;
color: black;
font-family: proxima-nova,Arial,Roboto,sans-serif;
}
p { color:midnightblue;
    font-family: proxima-nova,Arial,Roboto,sans-serif;

}

p { 
  color:rgba(18, 17, 108, 0.776);
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type:square;
    list-style-position: inside;
    color: wheat
  }


body {
text-align:center;
background-color:#7CA5B8; 
margin: 100px;
}
a:link {
  text-decoration: none;
  color:#0c3b28;
  font-size: 40px;
}
a:visited {
  color:rgb(101, 46, 99);
}

a:hover {
  color:rgb(220, 220, 220);
  text-decoration:underline;

}

h2 {
  color:midnightblue;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 99px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
